@import "_main-theme";

.movie-card {
  border: 3px solid $primaryBackgroundColor;
  max-width: 400px;
  border-radius: 8px;
  padding: .5em;
  &--genre {
    margin: 0.7em 0.7em 0.7em 0;
    &--chip {
      border-radius: 1em;
      background-color: $secondaryBackgroundColor;
      cursor: default;
      padding: 0.5em;
      margin: 0.2em;
      color: $secondaryTextColor;
      font-family: $textFontFamily;
      font-weight: 400;
    }
  }
  img {
    width: 100%;
    border-radius: 4px;
  }
  h1 {
    margin: 0.5em;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
}
