@import "_main-theme";

.chip {
  border-radius: 1em;
  background-color: $secondaryBackgroundColor;
  cursor: default;
  padding: 0.5em;
  margin: 0.2em;
  color: $secondaryTextColor;
  font-family: $textFontFamily;
  font-weight: 400;
}

.block {
  display: block;
}

.inline-block {
  display: inline-block;
}
