@import "_variables";
@import "_mixins";

.close-button {
  border: none;
  background: none;
  max-height: 30px;
  font-weight: 800;
  font-size: $subtitleFontSize;
  cursor: pointer;
  &__secondary {
    @extend .close-button;
    color: $primaryBackgroundColor;
  }
  &__primary {
    @extend .close-button;
    color: $primaryBackgroundColor;
  }
}

.close-button:disabled {
  cursor: not-allowed;
}

.main-wrapper {
  z-index: 1;
  box-sizing: border-box;
  &__sidebar-open {
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.5);
  }
  &__sidebar-close {
    position: relative;
    top: 3.5em;
    height: calc(100vh - 3.5em);
  }
}
